.banner{
  margin-top: 56px;
  height: 490px;
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/kevinhesapi/1649232414271.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=f%2B3Xzu2b4o0sdrAlKazDuDeOk4xSagV16Z3n%2FHc4RYb%2FWc0K0vjFhco%2FMM2BWmqpCF2Mi%2FPUSWXx2wK%2BNC%2BHci%2FbppLBhxh1%2Fd6bF5xjy3WESjirFma9WkR%2F8vXMqByRYxEMIzPjozQ8bgGQ8i%2BOlPWu2hLHD9haULIiPog6yiPsKqEkOUmO4zuQCOiZzU9onl8QE6qa28QzgchDARej38CQsgzGKSz0%2BGyiZaepZDmbLEVpPdznogjQQYMKzGILp2IFVmkrwWMQDm1uvtO3xgRzjQ5vHz%2Fp3UCMBChT5jcjN%2FXmBvAl3URT1orIW8Ro8I59XLxjSBiqByKMeILp0A%3D%3D);
  background-size: cover;
  background-position: center;
  @include media-breakpoint-up(md) {
    height: 630px;
  }
};