.banner{
  height: 630px;
  background-image: url(https://images.unsplash.com/photo-1611068558400-6939842ec477?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
  background-size: cover;
  background-position: center;
};