.about-banner {
  background-image: url(https://storage.googleapis.com/vue-course-api.appspot.com/kevinhesapi/1649243500464.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=KhAzQNEGmp6BHHVdNOaPYPpKDvFd0aqhhC0xNjHILZhIvOlafykFw6ZUGT0lrFrpqbmrVDuYqKMFcGGOIjz3%2BTSBS4yp4wzNoimfNoOwENPU69wACzg0Oz8AZMXfDZBATasHukm8Zg3J%2FUnHLdyFjK6WK7tsqkrM2Xafu%2Ff69wDNBpX441wAd6Ds2SkUa%2FAWTvh0PQbWyoNpYRiF%2FTMAQDHx%2BdhKECCPd%2BW6wA2e3mKZ%2BqzR1tq1NnU9EnSt2XBqZsBfPLglgW9YqFzOoJlAHi3ugOMXLMkrHEJMoiqkCw0GArj7CC9gL7NRMXXQd7FomM2Dr9VAihW9RR%2BThYA7Jw%3D%3D);
  height: 270px;
  background-position: center;
  background-size: cover;
}